*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
.editorconfig text eol=crlf
.gitattributes text eol=crlf
LICENSE text eol=lf
release/legal/BUSL-1.1.txt text eol=lf
